# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary files
*~
*testcodeaout*.s
*testcodebout*.s

# Specific binaries
asma
*/asmb
*/scanner
*/parser
*/ag
*/codea
*/codeb
*/gesamt

# flex output files
scanner.c

# bison output files
parser.c
parser.h
parser.output

# ox output files
oxout.l
oxout.y

# burg output files
code.c
